<!DOCTYPE html>
<html>
<head>
	<title>Error 404!</title>
</head>
<body>
	<nav>
		<a href="/login">Sign In</a>
		<a href="/register">Register</a>
	</nav>
	<h1>Error 404! Page not found.</h1>
</body>
</html>