<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Patient Connect</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header s-header--blog">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                  <img src="images/logo.png" alt="Homepage">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
              <li class="current"><a class="smoothscroll" href="#about" title="about">About us</a></li>
              <li><a class="smoothscroll" href="#features" title="features">Features</a></li>
              <li><a class="smoothscroll" href="#contact" title="pricing">Contact Us</a></li>
            </ul>

            <ul class="header-social">
                <li><form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value=<%=csrfTok%>>
                    <button class="btn btn-success navbar-btn" type="submit">Log Out</button></form> </li>
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end header -->


    <!-- page header
    ================================================== -->
    <section class="page-header">

        <div class="row page-header__content narrower text-center">
            <div class="col-full">

                <!-- <h3 class="subhead">Our Blog.</h3> -->
                <h1 class="display-1">
                    Welcome to Patient Connect!!
                </h1>
                <h3 class="display-1">
                    <%=user%>
                </h3>

                <a href="#0" class="page-header__search-trigger">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <span>Search</span>
                </a>
                <div class="page-header__search">
                    <form role="search" method="get" class="page-header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field"  value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="page-header__overlay-close">Close</a>
                </div>  <!-- end page-header__search -->

            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- blog content wrap
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row entries-wrap add-top-padding">
            <div class="entries">

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="/update" class="item-entry__thumb-link">
                                <img src="images/history.jpg"
                                     srcset="images/history.jpg 1x, images/history.jpg 2x" alt="">
                            </a>
                        </div>
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <!-- <a href="#0">Design</a> -->
                            </div>

                            <h1 class="item-entry__title"><a href="/update">Add your Medical History</a></h1>

                            <!-- <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div> -->
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <!-- <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/history.jpg"
                                     srcset="images/history.jpg 1x, images/history.jpg 2x" alt="">
                            </a> -->
                        </div>

                        <div class="item-entry__text">
                            <!-- <div class="item-entry__cat">
                                <a href="#0">Updates</a>
                            </div> -->

                            <h1 class="item-entry__title"><a href="single.html"></a></h1>

                            <!-- <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div> -->
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/circle.png"
                                     srcset="images/circle.png 1x, images/circle.png 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <!-- <a href="#0">Workplace</a> -->
                            </div>

                            <h1 class="item-entry__title"><a href="single.html">List of Hospitals Near You.</a></h1>

                            <!-- <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div> -->
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->



                <!-- <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/watch-400.jpg"
                                     srcset="images/thumbs/post/watch-400.jpg 1x, images/thumbs/post/watch-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Management</a>
                            </div>

                            <h1 class="item-entry__title"><a href="single.html">The Pomodoro Technique Really Works.</a></h1>

                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                <!-- </article> <!-- end article -->

                <!-- <article class="col-block">

                    <div class="item-entry" data-aos="fade-up">
                        <div class="item-entry__thumb">
                            <a href="single.html" class="item-entry__thumb-link">
                                <img src="images/thumbs/post/wheel-400.jpg"
                                     srcset="images/thumbs/post/wheel-400.jpg 1x, images/thumbs/post/wheel-800.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#0">Leadership</a>
                            </div>

                            <h1 class="item-entry__title"><a href="single.html">Three Start-up Leadership Lessons I wish I learned Earlier.</a></h1>

                            <div class="item-entry__content">
                                <p>
                                Aliquam mollitia consequatur et qui iste ducimus repellat. Aut expedita quibusdam est. Tempore dolor omnis in et
                                voluptate et eligendi debitis eligendi. Nulla autem necessitatibus...
                                </p>
                                <a class="more-link" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
                <!-- </article> <!-- end article --> -->


        </div> <!-- end entries-wrap -->

        <!-- <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- end blog content wrap -->


    <section id="contact" class="s-pricing target-section">
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Let's Stay In Touch.
                </h1>
                <p class="lead">
                    Leave your Email address and we will call you back.
                </p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="Submit">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>
            </div>
        </div>

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
                </p> -->

                <ul class="footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll" href="#features" title="features">Features</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">Contact us</a></li>
                    <!-- <li><a href="blog.html" title="blog">Blog</a></li> -->
                </ul>

                <p class="footer__contact">
                    For any queries, contact us: <br>
                    <a href="mailto:#0" class="footer__mail-link">support@pat_connect.com</a>
                </p>

            </div>

        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->
</section>
    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
