<!DOCTYPE html>
<html>
<head>
	<title>User Details</title>
</head>
<body>
<a href="/admin/afterlogin">back</a>
<div>
	<div>Name:<%=name%></div>
	<div>Sex:<%=gender%></div>
	<div>Email:<%=email%></div>
</div>
</body>
</html>